<a href="https://colab.research.google.com/github/dlvvkfl88/CS-Knowldege/blob/main/O'REILLY_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_1~3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3장 정렬

In [ ]:
a = [7,2,5,1,3]

a.sort()

print(a) # 오름차순

[1, 2, 3, 5, 7]

In [ ]:
b = ['saw','small','He','foxes', 'six']
b.sort(key=len)

b # 길이 짧은것부터 오름차순으로

['He', 'saw', 'six', 'small', 'foxes']

# 이진 탐색과 정렬된 리스트 유지하기

In [ ]:
import bisect

## 내장 순차 자료형 함수

In [ ]:
i = 0
for value in colle

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## 사전

In [ ]:
empty_dict ={}

d1 = {'a':'some value', 'b':[1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = 'an integer'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [ ]:
d1.update({'b':'foo','c':12})

In [ ]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

# 순차 자료형

In [ ]:
mapping = dict(zip(range(5),reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
words = ['apple','bat','bar','atom','book']

In [ ]:
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
d = {}
d[tuple([1,2,3])] =5
d

{(1, 2, 3): 5}

In [ ]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.intersection(b)

a & b

{3, 4, 5}

## 중첩된 리스트 표기법

In [ ]:
all_data = [['John','Emily','Michael','Mary','Steven',],['Maria','Juan','Javier','Natalia','Pilar']]

all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [ ]:
result = [name for names in all_data for name in names
          if name.count('e') >=2 ]

result

['Steven']

In [ ]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]

flattend = [x for tup in some_tuples for x in tup]

flattend

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3.2.4 익명함수

In [1]:
strings = ['foo', 'card', ' bar', 'aaaa','abab']

In [2]:
strings.sort(key=lambda x : len(set(list(x))))

strings

['aaaa', 'foo', 'abab', 'card', ' bar']

#3.2.5 커링 : 일부 인자만 취하기

In [6]:
def add_numbers(x,y):
    return x + y

In [7]:
add_five = lambda y: add_numbers(5,y)

In [10]:
from functools import partial

add_five = partial(add_numbers,5)

add_five

functools.partial(<function add_numbers at 0x7a4aba593910>, 5)

# 3.2.6 제너레이터

In [11]:
some_dict = {'a':1,'b':2,'c':3}

for key in some_dict:
    print(key)

a
b
c

In [13]:
dict_iterator = iter(some_dict)

In [15]:
list(dict_iterator)

['a', 'b', 'c']

In [16]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n **2))
    for i in range(1,n+1):
        yield i **2

In [17]:
gen = squares()

gen

In [18]:
for x in gen:
    print(x,end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

### 제너레이터 표현식

In [19]:
gen = (x **2 for x in range(100))

gen

In [20]:
def _make_gen():
    for x in range(100):
        yield x**2
gen = _make_gen()

In [21]:
sum(x ** 2 for x in range(100))

328350

In [23]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
import itertools

first_letter = lambda x: x[0]

In [25]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [27]:
attempt_float('something')

'something'